body {
    font-family: "Saira", sans-serif;
    color: aliceblue;
    background-color: rgb(10, 10, 10);
    margin-left: 50px;
}

h1{
    font-size: 34pt;
    font-weight: 500;
}

#film_title{
    margin-left: 30px;
}

#play_pausebutton{
    font-size: 24px; 
    color: #ffffff; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
div#video_controls_bar {
    /* background-color: rgb(0, 0, 0); */
    /* margin-left: 10.5vw;
    margin-right: 19vw; */
    margin-top: 5vh;
}

#seekslider {
    width: 100%;
}

#curtimetext {
    color: aliceblue;

}

#durtimetext {
    color: aliceblue;

}

#shot_type_text {
    color: aliceblue;
    margin-bottom: 10px;
}

#video_player_box {
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    /* Wrap the elements if not enough space */
    /* justify-content: space-between;
    align-items: flex-start; */
    justify-content: center; /* Center everything horizontally */
    align-items: start; 
    max-width: 1920px;
    /* Set a max-width for the video player box */
    margin-right: 10vw;
    /* Add some margin */
    gap: 5px;
    /* position: relative; */
}

#video_container {
    /* Allow it to grow */
    text-align: left;
    /* Center video horizontally */
    padding: 20px;
    /* Add some padding */
    margin-left: 10vw;
    margin-right:3vw;
    position: relative;
    /* Establishes a positioning context for absolute positioning inside */
}

video {
    width: 100%;
    /* Make video responsive */
    height: auto;
    /* Maintain aspect ratio */
}


#seek-bar-container {
    width: 100%;
    /* or any specific width */
}

#seekslider,
#visualization {
    width: 100%;
    height: auto;
    /* for the image, to maintain aspect ratio */
}

#visualization {
    margin-left: 7px;
}
#seek-bar-container img {
    width: 100%;
    height: 70px;
    /* for the image, to maintain aspect ratio */
}

#movement {
    position: absolute;
    left: 0;
    bottom: 0;
    /* Ensures the SVG is layered above the video */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
}


#script {
    width: 320px;
    /* Your SVG width */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    border-radius: 5px;

}

#script_container {
    position: absolute;
    top: 30%;
    /* Adjust these values as needed */
    left: 0;
    /* Adjust these values as needed */
    margin-bottom: 20px;
    margin-left: 20px;
    transform: translateY(-50%);
    transition: opacity 0.5s ease-in-out;
}

#scriptHeader {
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    transition: opacity 0.5s ease-in-out;
}

#set_text {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */
    top: -20px;
    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 100px;
}

#location_text {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */
    top: -20px;
    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 200px;

}

#location2_text {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */

    top: -20px;
    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 250px;

}

#time {
    text-align: center;
    flex-grow: 0;
    top: -20px;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */

    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 100px;

}

#script,
foreignObject {
    transition: width 0.5s, height 0.5s;
    /* Adjust the time as needed */
}

#checkboxes {
    display: flex;
    flex-direction: column;
}

#colorViz {
    transition: opacity 0.5s ease-in-out;
    /* Animate opacity changes */
}


/* General styles for all browsers */
#seekslider {
    -webkit-appearance: none; /* Override default look for Chrome and Safari */
    width: 100%; /* Full-width */
    height: 5px; /* Specifying the height of the track */
    background: grey; /* Background color for the track */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (cross-browser) */
    transition: opacity 0.2s; /* Transition for when slider is hovered or focused */
  }
  
  /* Mouse-over effect */
  #seekslider:hover {
    opacity: 1; /* Full opacity when hovered */
  }
  
  /* The slider handle (cross-browser) */
  #seekslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look for Chrome and Safari */
    appearance: none;
    width: 15px; /* Width of the handle */
    height: 15px; /* Height of the handle */
    background: rgb(218, 218, 218); /* Handle color */
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer; /* Cursor on hover */
  }
  
  #seekslider::-moz-range-thumb {
    width: 15px; /* Width of the handle */
    height: 15px; /* Height of the handle */
    background: rgb(218, 218, 218); /* Handle color */
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* For IE */
  #seekslider::-ms-thumb {
    width: 15px; /* Width of the handle */
    height: 15px; /* Height of the handle */
    background: rgb(218, 218, 218); /* Handle color */

    border-radius: 50%; /* Makes it a circle */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* Make the track of the slider appear thinner */
  #seekslider::-webkit-slider-runnable-track {
    height: 15px; /* Height of the track */
  }
  
  #seekslider::-moz-range-track {
    height: 15px; /* Height of the track */
  }
  
  #seekslider::-ms-track {
    height: 15px; /* Height of the track */
    /* You might need to adjust the coloring since IE sometimes has a different system */
  }
  
  /* Focus styles */
  #seekslider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 1px #ffffff; /* Adding focus shadow for Chrome and Safari */
  }
  
  #seekslider:focus::-moz-range-thumb {
    box-shadow: 0 0 1px #ffffff; /* Adding focus shadow for Firefox */
  }
  
  #seekslider:focus::-ms-thumb {
    box-shadow: 0 0 1px #ffffff; /* Adding focus shadow for IE */
  }
  

  #optionsWindow {
    position: absolute;
    display: none; /* Initially hidden */
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}


#toggleOptionsBtn{
    /* position: fixed; 
    top: 10vh;
    right: 17vw;  */
    margin-top: 20px;
    font-size: 24px; 
    color: #ffffff; 
    cursor: pointer;
    padding:10px;
    border-radius: 5px;
}

#infoBtn{
    /* position: fixed; 
    top: 10vh;
    right: 17vw;  */
    margin-top: 20px;
    font-size: 24px; 
    color: #ffffff; 
    cursor: pointer;
    padding:10px;
    border-radius: 5px;
}


#infoImage {
    position: fixed;
    top: 10%;
    left: 8%;
    width: 75%;
    height: auto;
    border: 1px solid #747474;
    opacity: 0; /* Make image fully transparent */
    visibility: hidden; /* Hide image */
    transition: opacity 0.5s, visibility 0s 0.5s; /* Transition for opacity and delayed visibility change */
}