div#video_controls_bar{
    /* background-color: rgb(0, 0, 0); */
    margin-right: 200px;
}

#seekslider {
    width: 100%;
}

#curtimetext{
    color: aliceblue;

}

#durtimetext{
    color: aliceblue;

}

#shot_type_text {
    color: aliceblue;
    margin-bottom: 10px;
}

body {
    background-color: rgb(10, 10, 10);
    margin-left: 50px;
}
#video_player_box {
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-wrap: wrap; /* Wrap the elements if not enough space */
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1700px; /* Set a max-width for the video player box */
    margin: 0px; /* Add some margin */
    gap: 20px;
}
#video_container {
    flex: 1; /* Allow it to grow */
    text-align: left; /* Center video horizontally */
    padding: 20px; /* Add some padding */
    position: relative; /* Establishes a positioning context for absolute positioning inside */
}
video {
    width: 100%; /* Make video responsive */
    height: auto; /* Maintain aspect ratio */
}

#visualizations_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

 #movement {
    border: 1px solid #ccc;
    /* background-color: lavender; */
}

#seek-bar-container {
    width: 100%; /* or any specific width */
  }

  #seekslider, #visualization {
    width: 100%;
    height: auto; /* for the image, to maintain aspect ratio */
  }

  #seek-bar-container img{
    width: 100%;
    height: 70px; /* for the image, to maintain aspect ratio */
  }
  #movement {
    position: absolute;
    bottom: 0; /* Aligns the SVG to the top edge of the container */
    right: 0; /* Aligns the SVG to the right edge of the container */
    z-index: 10; /* Ensures the SVG is layered above the video */
  }