body {
    font-family: "Saira", sans-serif;
    color: aliceblue;
    background-color: rgb(10, 10, 10);
    margin-left: 50px;
}

h1{
    font-size: 20pt;
    font-weight: 500;
}

h2{
    font-size: 15pt;
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 50px;
}
#film_title{
    margin-left: 30px;
}


div#video_controls_bar {
    /* background-color: rgb(0, 0, 0); */
    /* margin-left: 10.5vw;
    margin-right: 19vw; */
    margin-top: 2vh;
}

#seekslider {
    width: 100%;
}

#curtimetext {
    color: aliceblue;

}

#durtimetext {
    color: aliceblue;

}

#shot_type_text {
    color: aliceblue;
    margin-bottom: 10px;
}

#video_player_box {
    

    max-width: 1920px;
    /* Set a max-width for the video player box */
    /* Add some margin */

    margin-left: 0vw;
    margin-right:20vw;
    gap: 5px;
    /* position: relative; */
}


#header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 80px;
        margin-left: 210px;
}

video {
    width: 100%;
    /* Make video responsive */
    height: auto;
    /* Maintain aspect ratio */
}

#video_content{
    position: relative;
    margin-left: 230px;
    margin-right: 80px;
}

#timecode_container{
    width:50px;
    margin-left: 30px;
}


.svg-container {
    margin-right: 80px;
    display: flex;
    align-items: center; /* This ensures vertical centering of SVG and label */
    justify-content: space-between; /* This positions the SVG and label on opposite ends */
    margin-bottom: 0px; /* Or any space you want between each SVG-label pair */
}

.svg-label {
    text-align: right;
    width:250px;
    margin-right: 30px;
    white-space: nowrap; /* Keeps the label on a single line */
}


#timebar{
    display: flex;
    align-items: center; /* This ensures vertical centering of SVG and label */
    justify-content: space-between; /* This positions the SVG and label on opposite ends */
    margin-bottom: 10px; /* Or any space you want between each SVG-label pair */
}

#play_container{
    text-align: right;
    width:250px;
    margin-right: 30px; /* Adds some space between the SVG and the label */
    white-space: nowrap; /* Keeps the label on a single line */
}


#visualization_scriptLine{
    border: 1px solid #ccc;
    border-radius: 5px;
}
#seekslider,
#visualization {
    width: 100%;
    height: auto;
    /* for the image, to maintain aspect ratio */
}

#seek-bar-container img {
    width: 100%;
    height: 70px;
    /* for the image, to maintain aspect ratio */
}

#movement {
    position: absolute;
    left: 0;
    bottom: 0;
    /* Ensures the SVG is layered above the video */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
}


#script {
    width: 500px;
    /* Your SVG width */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    border-radius: 5px;

}

#script_container {
    position: absolute;
    top: 23%;
    /* Adjust these values as needed */
    left: 0;
    /* Adjust these values as needed */
    margin-bottom: 20px;
    margin-left: 20px;
    transform: translateY(-50%);
    transition: opacity 0.5s ease-in-out;
}

#scriptHeader {
    font-size: 8pt;
    position: absolute;
    top: 2%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    transition: opacity 0.5s ease-in-out;
}

#set_text {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */
    top: -20px;
    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 50px;
}

#location_text {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */
    top: -20px;
    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 100px;

}

#location2_text {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */

    top: -20px;
    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 180px;

}

#time {
    text-align: center;
    flex-grow: 0;
    top: -20px;
    flex-shrink: 0;
    /* Prevents items from shrinking below their set width */

    /* Adjust as necessary to position above the SVG */
    left: 0;
    color: white;
    /* Set the text color */
    background-color: #9803fc4a;
    /* Optional: adds a semi-transparent background */
    border: 1px solid #9803fc8d;
    padding: 3px;
    border-radius: 5px;
    width: 50px;

}

#script,
foreignObject {
    transition: width 0.5s, height 0.5s;
    /* Adjust the time as needed */
}

#checkboxes {
    display: flex;
    flex-direction: column;
}

#colorViz {
    transition: opacity 0.5s ease-in-out;
    /* Animate opacity changes */
}


/* General styles for all browsers */
#seekslider {
    -webkit-appearance: none; /* Override default look for Chrome and Safari */
    width: 100%; /* Full-width */
    height: 5px; /* Specifying the height of the track */
    background: grey; /* Background color for the track */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (cross-browser) */
    transition: opacity 0.2s; /* Transition for when slider is hovered or focused */
  }
  
  /* Mouse-over effect */
  #seekslider:hover {
    opacity: 1; /* Full opacity when hovered */
  }
  
  /* The slider handle (cross-browser) */
  #seekslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look for Chrome and Safari */
    appearance: none;
    width: 15px; /* Width of the handle */
    height: 15px; /* Height of the handle */
    background: rgb(218, 218, 218); /* Handle color */
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer; /* Cursor on hover */
  }
  
  #seekslider::-moz-range-thumb {
    width: 15px; /* Width of the handle */
    height: 15px; /* Height of the handle */
    background: rgb(218, 218, 218); /* Handle color */
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* For IE */
  #seekslider::-ms-thumb {
    width: 15px; /* Width of the handle */
    height: 15px; /* Height of the handle */
    background: rgb(218, 218, 218); /* Handle color */

    border-radius: 50%; /* Makes it a circle */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* Make the track of the slider appear thinner */
  #seekslider::-webkit-slider-runnable-track {
    height: 15px; /* Height of the track */
  }
  
  #seekslider::-moz-range-track {
    height: 15px; /* Height of the track */
  }
  
  #seekslider::-ms-track {
    height: 15px; /* Height of the track */
    /* You might need to adjust the coloring since IE sometimes has a different system */
  }
  
  /* Focus styles */
  #seekslider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 1px #ffffff; /* Adding focus shadow for Chrome and Safari */
  }
  
  #seekslider:focus::-moz-range-thumb {
    box-shadow: 0 0 1px #ffffff; /* Adding focus shadow for Firefox */
  }
  
  #seekslider:focus::-ms-thumb {
    box-shadow: 0 0 1px #ffffff; /* Adding focus shadow for IE */
  }
  

  #optionsWindow {
    display: hidden;
    overflow: hidden;
    margin-left: 10px;
    position: absolute;
    width: 0; /* Initial width */
    transition: width 0.5s ease, padding 0.5s ease, opacity 0.5s ease; /* Transition for width, padding, and opacity */
    background-color: rgb(0, 0, 0);
    padding: 0; /* Start with no padding */
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}

#optionsWindow .toggle-container {
    opacity: 0; /* Hide content initially */
    pointer-events: none; /* Disable interactions initially */
    transition: width 0.5s ease, padding 0.5s ease, opacity 0.5s ease; /* Transition for width, padding, and opacity */
  }
  
  #optionsWindow.open .toggle-container {
    opacity: 1; /* Show content */
    pointer-events: all; /* Enable interactions */
    transition-delay: 0s; /* Reset delay for fade-in effect */
  }


#toggleOptionsBtn{
    /* position: fixed; 
    top: 10vh;
    right: 17vw;  */
    margin-top: 20px;
    font-size: 24px; 
    color: #ffffff; 
    cursor: pointer;
    padding:10px;
    border-radius: 5px;
}

#infoBtn{
    /* position: fixed; 
    top: 10vh;
    right: 17vw;  */
    margin-top: 20px;
    font-size: 24px; 
    color: #ffffff; 
    cursor: pointer;
    padding:10px;
    border-radius: 5px;
}


#infoImage {
    position: fixed;
    top: 10%;
    left: 8%;
    width: 75%;
    height: auto;
    border: 1px solid #747474;
    opacity: 0; /* Make image fully transparent */
    visibility: hidden; /* Hide image */
    transition: opacity 0.5s, visibility 0s 0.5s; /* Transition for opacity and delayed visibility change */
}



/* Container for the label and the switch */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Style for the label */
  .toggle-label {
    margin-right: 200px;
  }
  
  /* Hide the default checkbox input */
  .checkbox {
    display: none;
  }
  
  /* Style for the pseudo-switch */
  .toggle-switch {
    position: relative;
    width: 40px;  /* Width of the switch */
    height: 20px; /* Height of the switch */
  }
  
  /* Style for the background of the switch */
  .switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px; /* Rounded borders for the switch */
  }
  
  /* Style for the knob of the switch */
  .switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* Round shape for the knob */
  }
  
  /* Move the knob to the right on checked */
  .checkbox:checked + .switch:before {
    transform: translateX(20px);
  }
  
  /* Change switch background color when it's checked */
  .checkbox:checked + .switch {
    background-color: #2196F3;
  }
  